<div class = "panel panel-default">
  <div class = "panel-heading">Listing Products</div>
  <table class = "table">
    <tr>
      <th>Product Name</th>
      <th>Product Description</th>
      <th>Price</th>
    </tr>
    <tr>
      <td>Hondenriem</td>
      <td>Hondenriem met LED lamp</td>
      <td>19.95 euro{{i.prijs}}</td>
    </tr>

    <tr>
      <td>Honden brokken</td>
      <td>Biologische brokken voor je hond</td>
      <td>10.95 euro</td>
    </tr>

    <tr>
      <td>Hondenhok</td>
      <td>Een veilig huisje voor je hond</td>
      <td>99.95 euro</td>
    </tr>
  </table>
</div>


