<div class = "panel panel-default">
  <table class = "table">
    <tr>
      <th>Product</th>
      <th>Productomschrijving</th>
      <th>Prijs</th>
    </tr>

    <tr *ngFor="let product of products; let i = index">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price | currency: 'EUR':true}}</td>
        <td><a class="btn btn-info btn-xs" (click)=addProductToCart(product) style="cursor:pointer">
          <span class="glyphicon glyphicon-shopping-cart"></span> add to cart
        </a></td>
      </tr>
  </table>
</div>

<p style="text-align:right">Aantal producten in mandje: <span>{{productArray.length}}</span></p>
<p style="text-align:right">Totale prijs: <span>{{totalPrice | currency:'EUR':true}}</span></p>

 <p>Voor bestellingen bel +31(0)20-2622161</p>


