<div class = "panel panel-default">
  <table class = "table">
    <tr>
      <th>Product</th>
      <th>Productomschrijving</th>
      <th>Prijs</th>
    </tr>

    <tr *ngFor="let product of products; let i = index">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}} euro</td>
        <td><a href="#" class="btn btn-info btn-xs">
          <span class="glyphicon glyphicon-shopping-cart"></span> add to cart
        </a></td>
      </tr>
  </table>
</div>

 <p>Voor bestellingen bel +31(0)20-2622161</p>


